<div th:switch="${customer}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Customer</h2>
        <table>+
            <caption>Lista de Usuarios</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="customer : ${customer}">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.email}"></td>
                <td><a th:href="@{/public/edit/{id}(id=${user.id})}">Edit</a></td>
                <td><a th:href="@{/public/delete/{id}(id=${user.id})}">Delete</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/customer/signup">Add a new customer</a></p>
</div>
